<div class="content">
    <h1 class="header">Die Luftqualität in der #friedrichstraße</h1>
    <p class="calendar-intro">Die Friedrichstraße in Berlin ist seit September 2020 für Autos gesperrt.<br>Diese Karte visualisiert die Luftqualität anhand des durchschnittlichen Stickstoffdioxidgehalts pro Tag.<br>Klicke auf ein Datum, um Beiträge auf Twitter für das Projekt der <a href="https://twitter.com/search?q=autofreie%20friedrichstra%C3%9Fe" target="_blank" class="hashtag hashtag--link">#autofreien #friedrichstraße</a> anzuzeigen.</p>
    <div class="visualization">
    <div id="calendar"></div>
    <div id="tweets"></div>
    <div class="loader">Loading...</div>
    </div>
</div>