{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Dicke Luft – Die autofreie Friedrichstraße' }}
<nav>
        <input id="nav-toggle" type="checkbox"/>
            <div class="project-titel">
                <a href="index.html" style="text-decoration: none">Start</a>
            </div>

                <ul class="navbar-links">
                    <li><a href="about.html" style="text-decoration: underline">Hintergründe</a></li>
                    <li><a href="explore.html" style="text-decoration: none">Erkunden</a></li>
                </ul>

            <label for="nav-toggle" class="icon-burger"> 
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
 
    </nav>        
    <div class="content">
            <div class="column">
            <h1 class="header header--big">Dicke Luft in der #friedrichstraße?</h1>
            <div class="content-container content-container--portrait">
                <img class="image" src="assets/images/Sensor.jpg">
                <div class="image-caption">Luftqualitätssensor des IASS in Berlin. © Johannes Dillmann</div>
            </div>
            <p>Das Projekt der autofreien Friedrichstraße wurde unter dem Titel <span class="hashtag">#Friedrichisnice</span> von dem Bezirksamt Mitte, der Senatsverwaltung für Umwelt, Verkehr und Klimaschutz sowie der Senatsverwaltung für Wirtschaft, Energie und Betriebe ins Leben gerufen. Dabei wurde das Potsdamer IASS (Institut für transformative Nachhaltigkeitsforschung) beauftragt die Luftdaten in der Friedrichstraße und in den parallel liegenden Seitenstraßen zu messen.
            Es wurde jeweils ein neuartiger Sensor von Earthsense in der Friedrichstraße und in den Parrallelstraßen Charlottenstraße und Glinkastraße installiert, um stündliche Werte zu sammeln.</p>
            
            

            <p>Im Gegensatz zu den traditionell verwendeten Instrumenten zur Messung der Luftverschmutzung befindet sich diese neue Technologie noch in der Entwicklung. Dadurch sind die Messungen mit einem etwas höheren Grad an Unsicherheit verbunden.</p> 
            <p>
            Jedoch gibt es einige entscheidende Vorteile bei der Datenerhebung:
            </p>
            <ul>
                <li>hohe zeitliche Auflösung </li>
                <li>Erkennung von einer Vielzahl von Schadstoffen </li>
                <li>preislicher Vorteil (gegenüber traditioneller Instrumentierung)</li>
            </ul>
            <p>Die Daten der Nebenstraßen sind als Vergleichswerte erhoben worden. Dr. Erika von Schneidemesser vom IASS Potsdam beobachtet: „Die Friedrichstraße sowie die beiden parallel verlaufenden Straßen Charlottenstraße und Glinkastraße hatten vor der Umsetzung der Maßnahme ein erhebliches Maß an Anliegerverkehr. Die offene Frage war, ob nach der Umsetzung der Flaniermeile Friedrichstraße die Parallelstraßen durch den Ausweichverkehr mit einer höheren Luftschadstoffbelastung enden würden. Unsere vorläufige Analyse (der Daten bis Ende November) zeigt, dass nach der Sperrung der Friedrichstraße für den Kfz-Verkehr die Luftschadstoffbelastung in der Friedrichstraße etwas zurückgegangen ist und nun ähnlich hoch ist wie an einem innerstädtischen Hintergrundstandort. Im Gegensatz dazu sind die Luftschadstoffwerte in den Seitenstraßen werktags weiterhin höher als die städtische Hintergrundkonzentration, haben sich aber an den Wochenenden auf städtisches Hintergrundniveau reduziert. Ein Anstieg der Luftverschmutzungskonzentrationen in den Seitenstraßen ist jedoch zu diesem Zeitpunkt minimal.“</p>
        </div>
        <div class="column">
            <p>Zu der Frage welchen Effekt die Sperrung auf die Luftqualität hat, sind weitere Analysen des IASS geplant sobald mehr Daten zur Verfügung stehen. Jedoch gibt es einige Unwägbarkeiten:
            </p>
            <ul>
                <li>die Pandemie und resultierenden Schließungen</li>
                <li>eine Baustelle in der Glinkastraße</li>
                <li>Keine Daten wegen Wartungsarbeiten (September - Oktober, Juli und November 2020)</li>
            </ul>
            <p>Dementsprechend ist es schwierig valide Aussagen anhand der vorhandenen Daten zu treffen. </p>
        </div>
        <div class="column column--wide">
            <div class="content-container content-container--triple">
                <img class="content-element" src="assets/images/Charlottenstrasse.jpeg" alt="R-Graphen zu   Seitenstraßen"/>  
                <img class="content-element" src="assets/images/Friedrichstrasse.jpeg" alt="R-Graphen zu    Seitenstraßen"/>
                <img class="content-element" src="assets/images/Glinkastrasse.jpeg" alt="R-Graphen zu Seitenstraßen"/>
                <div class="image-caption">NO<sub>2</sub>-Konzentration in Charlotten-, Friedrich- und Glinkastraße (R-Plot).</div>
            </div>
        </div>
        <div class="column">
            <p>Anhand dieser Graphen kann man die Schwankungen der durchschnittlichen NO2-Konzentration in den drei Straßen über die Monate hinweg sehen. Mögliche Gründe dafür sind die meteorologische Umstände sowie die bereits erwähnten Unwägbarkeiten. </p>
            <p>
            Für dieses Projekt wurde gezielt NO2 beziehungsweise der Stickstoffdioxidgehalt in der Luft gemessen. NO2 entsteht als Nebenprodukt bei jeder Verbrennung fossiler Energieträger, wie Gas, Kohle und Öl, und ist daher auch Bestandteil der Abgase von Kraft- und Luftfahrzeugen.</p>
            <p>
            Der vom Umweltbundesamt empfohlene Grenzwert des Stickstoffgehaltes beträgt 40 μg/m3. Zum Schutz der Vegetation wird ein kritischer Wert von 30 µg/m3 NO2 als Jahresmittelwert verwendet.</p>
            <p>Zu den Gesundheitsrisiken äußert sich das Bundesumweltamt wie folgt: "In der Umwelt vorkommende Stickstoffdioxid-Konzentrationen sind vor allem für Asthmatiker ein Problem, da sich eine Bronchialkonstriktion (Bronchienverengung) einstellen kann, die zum Beispiel durch die Wirkungen von Allergenen verstärkt werden kann."
            </p>
        </div>
        <div class="column">
            <h1 class="header">Diskurs auf Twitter</h1>
            <p>Twitter als Social Media-Platform bietet die Möglichkeit auf eine umfangreiche Sammlung an Beiträgen zuzugreifen, die je nach Thema oder Zeitraum selektiert werden können. 
            Auch die Sperrung der Friedrichstraße hat zahlreiche Äußerungen auf Twitter nach sich gezogen. Diese wurden zum ergänzendem Datensatz für die Visualisierung.</p>

            <p>Zuerst sollte die Datensammlung mit der von Twitter eingebundenen API - (Programmierschnittstelle) erfolgen. Dabei hat man jedoch nur Zugriff auf Tweets, die nicht älter als eine Woche sind. Damit konnten nicht alle Tweets für den für das Projekt relevanten Zeitraum gesammelt werden.</p>

            <p>Der zweite Versuch erfolgte mit einer auf der programmiersprache Python basierten Pipeline. Diese Methode, auch bekannt als "Scrapping", ermöglichte es die Twitterbeiträge für den gesamten Zeitraum zu sammeln.
            </p>
            <p>
            Die Datenauswahl erfolgte anhand der von User*innen eingegeben Hashtags, zum Beispiel: <span class="hashtag">#friedrichstraße</span>, <span class="hashtag">#autofrei</span> oder auch <span class="hashtag">#flaniermeile</span>. So konnte man feststellen, dass die Tweets inhaltlich mit dem Thema in direkter Verbindung stehen. </p>
            <p>
            Bewusst ausgelassen wurde dabei der projektbezogene Hashtag #friedrichsnice wegen der positiven Aufgeladenheit.
            Des Weiteren wurde die Geo-Position der Friedrichstraße als Filterfaktor eingegeben. </p>
            <p>
            Es wurden Twitterdaten aus dem Zeitraum des 1. Juli bis zum 30. November 2020 gesammelt.
            Zugunsten der Kontextualität, wurde bei der Visualisierung die Anzahl der angezeigten Tweets auf maximal fünf pro Tag beschränkt. Wurden für ein Datum mehr als fünf Beiträge gepostet, wurde eine zufällige Auswahl getroffen.</p>
            <p>
            Die Sperrung von der Friedrichstraße hat für viel Diskussion im deutschsprachigen Twittersegment gesorgt. Die politische Aufgeladenheit des Themas fällt dabei besonders auf: Über das Projekt äußern sich nicht nur  große Medien wie die Zeitung Berliner Morgenpost oder TAZ, sondern auch lokale Politiker*innen.</p>
        </div>
        <div class="column">
            <div class="content-container content-container--double">
                <a href="https://twitter.com/morgenpost/status/1352731203275784198" target="_blank" class="card card--twitter content-element">
                <div class="tweet-user">Berliner Morgenpost<span class="tweet-meta">@morgenpost · Jan 22, 2021</span></div>
                <div class="tweet-text">Projekt "Flaniermeile Friedrichstraße" wird verlängert <span class="hashtag">morgenpost.de/berlin/article...</span></div>
                <img class="tweet-image" src="https://pbs.twimg.com/media/EsXd3C7XYAAsu0q?format=jpg&name=900x900">
            </a>
            <a href="https://twitter.com/Antje_Kapek/status/1331702760719454208" target="_blank" class="card card--twitter content-element">
                <div class="tweet-user">Antje Kapek<span class="tweet-meta">@Antje_Kapek · Nov 25, 2020</span></div>
                <div class="tweet-text">Grüne so: autofreie Friedrichstraße.<br>SPD so: Autobahn durch Friedrichshain.<br><br>Kannste dir nicht ausdenken!<br><br><span class="hashtag">#2020</span> <span class="hashtag">#Verkehrswende</span> vs. <span class="hashtag">#A100</span></div>
            </a>
        </div>
        </div>
        <div class="column">
            <p>Bei den Tweets tauchen immer wieder solche Wörter wie "Auto", "Radfahrer" oder "Fußgänger"; somit kann man feststellen, dass die Verkehrsfrage für die meisten Twitter-Nutzer*innen besonders aktuell bleibt. So berichteten manche Nutzer*innen, dass  Radfahrer nun sehr schnell auf den Radwegen fahren. 
            </p>
        </div>
        <div class="column">
        <div class="content-container content-container--double">
                <a href="https://twitter.com/Sebastian_hurra/status/1329817787926274048" target="_blank" class="card card--twitter content-element">
                <div class="tweet-user">Sebastian 🙃<span class="tweet-meta">@Sebastian_hurra · Nov 20, 2022</span></div>
                <div class="tweet-text">Ach, die <span class="hashtag">#Friedrichstrasse</span> ist gar keine <span class="hashtag">#Flaniermeile</span>, sondern ein Radrennweg mit (neu:) Demo-Zone<br><br>Da freuen sich die Einzelhändler sicher, dass da Müll und strubbelige Aktivisten vor der Tür stehen</div>
            </a>
            <a href="https://twitter.com/berlin_radler/status/1317840977235763200" target="_blank" class="card card--twitter content-element">
                <div class="tweet-user">berlin_radler<span class="tweet-meta">@berlin_radler · Oct 18, 2020</span></div>
                <div class="tweet-text"><span class="hashtag">#Flaniermeile</span> <span class="hashtag">#Friedrichstraße</span>. Bikers can' t see the Vorfahrtsschild. 👹 Ist das <span class="hashtag">#MobG</span> oder muß der Polter und teilweise auch die Bäume weg, oder wartet man bei denen auf die "biologische Lösung"?</div>
            </a>
        </div>
    </div>

        <div class="column">
            <h1 class="header">Projekt</h1>
            <p>Das Projekt Dicke Luft #friedrichstraße entstand im Rahmen des Kurses Mapping Cities - Making Cities an der Fachhochschule Potsdam. Für das Projekt hat das IASS Potsdam ihre Luftdaten zur Verfügung gestellt. 
            </p>
            <p>
            Wir als Studierende hatten die Intention, die Visualisierung der Luftdaten im städtischen Kontext zu erweitern. Wir stellten fest, dass die Anknüpfung an soziale Reaktionen, die Datenvisualisierung auf eine neue Kontextebene bringt. Der monatelange Meinungsaustausch zur Sperrung der Friedrichstraße erfolgte nicht nur mündlich, sondern auch digital auf Twitter. Darin sahen wir die Möglichkeit quantitative Luftdaten mit qualitativen Twitterdaten in Verbindung zu bringen.
            </p>
        </div>
        <div class="column">
            <p>
            Die Twitterbeiträge bezogen sich fast ausschließlich auf die Friedrichstraße, somit rückten die Nebenstraßen inhaltlich in den Hintergrund. 
            </p>
            <p>
            Unsere Intention hinter der Visualisierung ist nicht die Daten eindeutig zu bewerten, sondern für Nutzer*innen eine Grundlage für die eigene Meinungsbildung zur Verfügung zu stellen. </p>
            <p>Wir bedanken uns bei dem IASS (Institut für transformative Nachhaltigkeitsforschung) Potsdam, insbesondere bei Dr. Erika von Schneidemesser für ihre tatkräftige Unterstützung und ihre Expertinnenmeinung. 
            Außerdem bedanken wir uns bei der Fachhochschule Potsdam und im Besonderen bei Prof. Dr. Marian Dörk, für seine Unterstützung und das konstruktive Feedback.</p>
            <a href="explore.html" class="go-to-vis-button">
                <div class="go-to-vis-button__text">Hier geht es zu der Visualisierung der Luft- und Twitterdaten von Juni bis November 2020.</div>
                <span class="go-to-vis-button__btn button button--primary">Erkunden</span>
            </a>
        </div>
        <div class="column column--wide">
            <div class="content-container">
                <img class="image" src="assets/images/FriedrichstraßeAutofrei.jpg">
                <div class="image-caption">Die Friedrichstraße in Berlin nach der Sperrung für Autos. © Johannes Dillmann</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__students">
            <p>
            Annika Terwey Gassebner - MA Design
            <br>
            Aleksandra Wingert - BA Interfacedesign
            <br>
            Johannes Dillmann - BA Kommunikationsdesign
            <br>
            Kira Vogtmann - BA Kommunikationsdesign
            <br>Milan Bargiel - MA Design
            <br>Yulia Aster - MA Urbane Zukunft
            <br>
            <br>
            </p>
        </div>
        <div>
            <p><a class="footer__link" href="https://uclab.fh-potsdam.de/mapping/">Mapping Cities – Making Cities</a> von Prof. Dr. Marian Dörk<br>University of Applied Sciences Potsdam, Wintersemester 2020/21</p>
            <br>
            <p>{{> _fhp }}</p>
        </div>
    </div>
{{/_layout}}