{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Dicke Luft – Erkunde die Luftqualität der Friedrichstraße' }}
    <nav>
        <input id="nav-toggle" type="checkbox"/>
            <div class="project-titel">
                <a href="index.html" style="text-decoration: none">Start</a>
            </div>

                <ul class="navbar-links">
                    <li><a href="read.html" style="text-decoration: none">Hintergründe</a></li>
                    <li><a href="explore.html" style="text-decoration: underline;">Erkunden</a></li>
                </ul>

            <label for="nav-toggle" class="icon-burger"> 
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
 
    </nav>
    {{> _visualization }}
{{/_layout}}