{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Dicke Luft – Die autofreie Friedrichstraße' }}
<nav>
        <input id="nav-toggle" type="checkbox"/>
            <div class="project-titel">
                <a href="index.html" style="text-decoration: none">Start</a>
            </div>

                <ul class="navbar-links">
                    <li><a href="read.html" style="text-decoration: underline">Hintergründe</a></li>
                    <li><a href="explore.html" style="text-decoration: none">Erkunden</a></li>
                </ul>

            <label for="nav-toggle" class="icon-burger"> 
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
 
    </nav>        
    <div class="content">
        <article class="weiterlesen">
                
            <h1 class="first-header">Luftdaten</h1> 

            <p class="fließtext">Das Projekt der autofreien Friedrichstraße wurde unter dem Titel #Friedrichisnice von dem Bezirksamt Mitte, der Senatsverwaltung für Umwelt, Verkehr und Klimaschutz sowie der Senatsverwaltung für Wirtschaft, Energie und Betriebe ins Leben gerufen. Dabei wurde das Potsdamer IASS (Institut für transformative Nachhaltigkeitsforschung) beauftragt die Luftdaten in der Friedrichstraße und in den parallel liegenden Seitenstraßen zu messen.
            Es wurde jeweils ein neuartiger Sensor von Earthsense in der Friedrichstraße und in den Parrallelstraßen Charlottenstraße und Glinkastraße installiert, um stündliche Werte zu sammeln.</p>

    
            <img class="text-img" src="assets/images/Visualisierung.jpg" alt="Sensoren und Karte mit Sensorpositionen" style="width: 100%; display: block;"/>

            <p class="fließtext">Im Gegensatz zu den traditionell verwendeten Instrumenten zur Messung der Luftverschmutzung befindet sich diese neue Technologie noch in der Entwicklung. Dadurch sind die Messungen mit einem etwas höheren Grad an Unsicherheit verbunden.</p> 
            <p class="fließtext">
            Jedoch gibt es einige entscheidende Vorteile bei der Datenerhebung:
            </p>
            <ul>
                <li>hohe zeitliche Auflösung </li>
                <li>Erkennung von einer Vielzahl von Schadstoffen </li>
                <li>preislicher Vorteil (gegenüber traditioneller Instrumentierung)</li>
            </ul>
            <p class="fließtext">Die Daten der Nebenstraßen sind als Vergleichswerte erhoben worden. Dr. Erika von Schneidemesser vom IASS Potsdam beobachtet: „Die Friedrichstraße sowie die beiden parallel verlaufenden Straßen Charlottenstraße und Glinkastraße hatten vor der Umsetzung der Maßnahme ein erhebliches Maß an Anliegerverkehr. Die offene Frage war, ob nach der Umsetzung der Flaniermeile Friedrichstraße die Parallelstraßen durch den Ausweichverkehr mit einer höheren Luftschadstoffbelastung enden würden. Unsere vorläufige Analyse (der Daten bis Ende November) zeigt, dass nach der Sperrung der Friedrichstraße für den Kfz-Verkehr die Luftschadstoffbelastung in der Friedrichstraße etwas zurückgegangen ist und nun ähnlich hoch ist wie an einem innerstädtischen Hintergrundstandort. Im Gegensatz dazu sind die Luftschadstoffwerte in den Seitenstraßen werktags weiterhin höher als die städtische Hintergrundkonzentration, haben sich aber an den Wochenenden auf städtisches Hintergrundniveau reduziert. Ein Anstieg der Luftverschmutzungskonzentrationen in den Seitenstraßen ist jedoch zu diesem Zeitpunkt minimal.“</p>

            </article>
            <article class="weiterlesen">

            <p class="fließtext">Zu der Frage welchen Effekt die Maßnahme auf die Luftqualität hatten, sind weitere Analysen des IASS  geplant sobald mehr Daten zur Verfügung stehen. Jedoch gibt es einige Unwägbarkeiten:
            </p>
            <ul>
                <li>die Pandemie und resultierenden Schließungen</li>
                <li>eine Baustelle in der Glinkastraße</li>
                <li>Keine Daten wegen Wartungsarbeiten (September - Oktober, Juli und November)</li>
            </ul>
            <p>Dementsprechend ist es erschwert valide Aussagen anhand der vorhandenen Daten zu treffen. </p>
            <img src="assets/images/glinka.png" alt="R-Graphen zu Seitenstraßen" style="width: 100%;" />
            <img src="assets/images/charlotte.png" alt="R-Graphen zu Seitenstraßen" style="width: 100%;" />
            <p class="fließtext">Anhand dieser Graphen kann man die Schwankungen der durchschnittlichen NO2-Konzentration in den drei Straßen über die Monate hinweg sehen. Mögliche Gründe dafür sind die meteorologische Umstände sowie die bereits erwähnten Unwägbarkeiten. </p>
            <p class="fließtext">
            Für dieses Projekt wurde gezielt NO2 beziehungsweise der Stickstoffdioxidgehalt in der Luft gemessen. NO2 entsteht als Nebenprodukt bei jeder Verbrennung fossiler Energieträger, wie Gas, Kohle und Öl, und ist daher auch Bestandteil der Abgase von Kraft- und Luftfahrzeugen.</p>
            <p class="fließtext">
            Der vom Umweltbundesamt empfohlene Grenzwert des Stickstoffgehaltes beträgt 40 μg/m3. Zum Schutz der Vegetation wird ein kritischer Wert von 30 µg/m3 NO2 als Jahresmittelwert verwendet.
            Zu den Gesundheitsrisiken äußert sich das Bundesumweltamt wie folgt: "In der Umwelt vorkommende </p>
            <p class="fließtext">Zu den Gesundheitsrisiken äußert sich das Bundesumweltamt wie folgt: "In der Umwelt vorkommende Stickstoffdioxid-Konzentrationen sind vor allem für Asthmatiker ein Problem, da sich eine Bronchialkonstriktion (Bronchienverengung) einstellen kann, die zum Beispiel durch die Wirkungen von Allergenen verstärkt werden kann."
            </p>
            </article>

        <article class="weiterlesen" >
            <h2>Twitterdaten</h2>
            <p class="fließtext">Twitter als Social Media-Platform bietet die Möglichkeit auf eine umfangreiche Sammlung an Beiträgen zuzugreifen, die je nach Thema oder Zeitraum selektiert werden können. 
            Auch die Sperrung der Friedrichstraße hat zahlreiche Äußerungen auf Twitter nach sich gezogen. Diese wurden zum ergänzendem Datensatz für die Visualisierung.</p>

            <p class="fließtext">Zuerst sollte die Datensammlung mit der von Twitter eingebundenen API - (Programmierschnittstelle) erfolgen. Dabei hat man jedoch nur Zugriff auf Tweets, die nicht älter als eine Woche sind. Damit konnten nicht alle Tweets für den für uns interessanten Zeitraum gesammelt werden.</p>

            <p class="fließtext">Der zweite Versuch erfolgte mit auf der programmiersprache Python basierten Pipeline. Diese Methode, auch bekannt als "Scrapping", hat es ermöglicht die Twitterbeiträge für den gesamten Zeitraum zu sammeln.
            </p>
            <p class="fließtext">
            Die Datenauswahl erfolgte anhand der von User*innen eingegeben Hashtags, zum Beispiel: #friedrichstraße, #autofrei oder auch #flaniermeile. So konnte man feststellen, dass die Tweets inhaltlich mit dem Thema in direkter Verbindung stehen. </p>
            <p class="fließtext">
            Bewusst ausgelassen wurde dabei der projektbezogene Hashtag #friedrichsnice wegen der positiven Aufgeladenheit.
            Des Weiteren wurde die Geo-Position der Friedrichstraße als Filterfaktor eingegeben. </p>
            <p class="fließtext">
            Es wurden Twitterdaten aus dem Zeitraum des 1.Juli bis zum 30.November gesammelt.
            Zugunsten der Kontextualität, wurde bei der Visualisierung die Anzahl der angezeigten Tweets auf maximal fünf pro Tag beschränkt. Wurden für ein Datum mehr als fünf Beiträge gepostet, wurden manuell die für die Diskussion besonders relevanten Tweets ausgewählt. </p>
            <p class="fließtext">
            Die Sperrung von der Friedrichstraße hat für viel Diskussion im deutschsprachigen Twittersegment gesorgt. Die politische Aufgeladenheit des Themas fällt dabei besonders auf: über das Projekt äußern nicht nur  große Medien wie die Zeitung Berliner Morgenpost oder TAZ[hier kommt Tweet & Datum],  sich nicht nur lokale Politiker. </p> 
            
            <p>[hier ein Tweet von MaxLandero - ].</p>

            <p class="fließtext">Bei den Tweets tauchen immer wieder solche Wörter wie "Auto", "Radfahrer" oder "Fußgänger"; somit kann man feststellen, dass die Verkehrsfrage für die meisten Twitter-Nutzer*innen besonders aktuell bleibt. So berichteten manche Nutzer*innen, dass  Radfahrer nun sehr schnell auf den Radwegen fahren. 
            </p>
            <p>[beispiel-tweet]</p>
            </article>


        <article class="weiterlesen"> 
            <h2>Projekt</h2>
            <p class="fließtext">Das Projekt Dicke Luft #friedrichstraße entstand im Rahmen des Kurses Mapping Cities - Making Cities an der Fachhochschule Potsdam. Für das Projekt hat das IASS Potsdam ihre Luftdaten zur Verfügung gestellt. 
            </p>
            <p class="fließtext">
            Wir als Studierende hatten die Intention, die Visualisierung der Luftdaten im städtischen Kontext zu erweitern. Wir stellten fest, dass die Anknüpfung an soziale Reaktionen, die Datenvisualisierung auf eine neue Kontextebene bringt. Der monatelange Meinungsaustausch zur Sperrung der Friedrichstraße erfolgte nicht nur mündlich, sondern auch digital auf Twitter. Darin sahen wir die Möglichkeit quantitative Luftdaten mit qualitativen Twitterdaten in Verbindung zu bringen.
            </p>
            <p class="fließtext">
            Die Twitterbeiträge bezogen sich fast ausschließlich auf die Friedrichstraße, somit rückten die Nebenstraßen inhaltlich in den Hintergrund. 
            </p>
            <p class="fließtext">
            Unsere Intention hinter der Visualisierung ist nicht die Daten eindeutig zu bewerten, sondern für Nutzer*innen eine Grundlage für die eigene Meinungsbildung zur Verfügung zu stellen. </p>
            <h2>Danksagung</h2>
            <p class="fließtext">Wir bedanken uns bei dem IASS (Institut für transformative Nachhaltigkeitsforschung) Potsdam, insbesondere bei Dr. Erika von Schneidemesser für ihre tatkräftige Unterstützung und ihre Expertinnenmeinung. 
            Außerdem bedanken wir uns bei der Fachhochschule Potsdam und im Besonderen bei Prof. Dr. Marian Dörk, für seine Unterstützung und das konstruktive Feedback.</p>
 
            <h2>Beteiligte</h2>
            <p class="fließtext">An diesem Projekt haben folgende Studierende gearbeitet: 
            <br><br>
            Annika Terwey Gassebner - MA Design
            <br>
            Aleksandra Wingert - BA Interfacedesign
            <br>
            Johannes Dillmann - BA Kommunikationsdesign
            <br>
            Kira Vogtmann - BA Kommunikationsdesign
            <br>Milan Bargiel - MA Design
            <br>Yulia Aster - MA Urbane Zukunft</p>
    </article>
    </div>
{{/_layout}}