{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Dicke Luft – Die autofreie Friedrichstraße' }}
  <h1 class="header">Visualisierung</h1>
  <p class="calendar-intro">Die Friedrichstraße in Berlin ist seit September 2020 für Autos gesperrt.<br>Diese Karte zeigt den Stickstoffdioxidgehalt der Friedrichstraße im Tagesdurchschnitt.<br>Klicke auf ein Datum, um Beiträge auf Twitter für das Projekt der #autofreien #friedrichstraße anzuzeigen ↓</p>
  <div id="calendar"></div>
  <div id="tweets"></div>
  <div class="loader">Loading...</div>
{{/_layout}}