{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Dicke Luft – Die autofreie Friedrichstraße' }}
  <h3>Stickstoffdioxid Friedrichstraße</h3>
  <p>Die Friedrichstraße ist seit dem 01. August 2020 für Autos gesperrt.<br>Wähle ein Datum um Tweets für die #autofreie #friedrichstraße anzuzeigen ↓</p>
  <div id="calendar"></div>
  <div id="tweets"></div>
  <div class="loader">Loading...</div>
{{/_layout}}