{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Dicke Luft – Die autofreie Friedrichstraße' }}
  <div id="calendar"></div>
  <div id="tweets"></div>
  <div class="loader">Loading...</div>
{{/_layout}}