// global styles
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$base-font-size: 18px;
$font-family: sans-serif;
$red: #ff2300;

body {
  background-color: black;
  font-size: $base-font-size;
  font-family: $font-family;
}

#calendar,
#tweets {
  margin: 20px;
}
.month {
  margin-right: 8px;
}
.month-name {
  font-size: 85%;
  fill: #777;
}
.day:hover {
  cursor: pointer;
  stroke: #6d6E70;
  stroke-width: 2;
}
.day.selected {
  stroke: $red;
  stroke-width: 2;
}

// tweets
#tweets {
  max-width: 1200px;
}

.grid-sizer,
.tweet { width: 20%; }

.tweet {
  border-radius: 3px;
  background-color: #A2CBFA;
  border: 1px solid #4390E1;
  padding: 10px;
}

.tweet-image {
  width: 100%;
  border-radius: 2%;
}