@font-face {
  font-family: 'FiraSansCondensed';
  src: url('assets/FiraSansCondensed-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('assets/FiraSansCondensed-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'FiraCode';
  src: url('assets/FiraCode-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('assets/FiraCode-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('assets/IBMPlexSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('assets/IBMPlexSans-Bold.ttf');
  font-weight: bold;
}

// global styles
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$bp-tablet: 720px;
$base-font-size: 18px;
$small-font-size: 15px;
// $font-family: 'Inconsolata', monospace;
$font-family: 'FiraCode', monospace;
$red: rgb(255, 35, 0);
$blue: rgb(27, 149, 224);
$grey: rgb(101, 119, 134);
$middle-grey: rgb(148, 148, 148);
$light-grey: rgb(204, 214, 221);
$almost-white: rgb(245, 248, 250);
$almost-black: rgb(17, 17, 17);
$map-gray: $grey;
$slightest-grey: #F8F8F8;
$black: #000;
$white: #fff;
$yellow: #ff0;
$orange: #f25c05;

$duration: 240s;

body {
  background-color: $slightest-grey;
  font-size: $base-font-size;
  font-family: $font-family;
  line-height: 1.4;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'FiraSansCondensed', sans-serif;
}

.header {
  margin-top: 2rem;

  &--big {
    line-height: 1;
    font-size: 50px;
  }
}

a {
  text-decoration: none; 
  color: black; 
}

// index
.bar {
  overflow: hidden;
}

/* Menuleiste Top */ 
nav {
  position: fixed;
  z-index: 10; 
  left:0;
  right: 0; 
  top: 0;
  height: 3rem; 
  background-color: #efefef;
  width: 100%;
  padding: 0.4%;  
  border-bottom: 2px solid; 
  font-size: 1.5rem;
}

nav .project-titel {
  float: left; 
  width: 40%; 
  height: 100%; 
  display: flex;
  align-items: center;
  margin-left: 3rem;  
}

nav .navbar-links {
  float: right;
  padding: 0 ;
  margin: 0; 
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .navbar-links li {
  list-style: none;  
}

nav a {
  opacity: 80%; 
}

nav .navbar-links a {
  display: block;
  padding: 1em; 
}

nav a:hover {
  color: #f25c05;
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}

/* Menu wenn kleiner Screen */ 

#nav-toggle {
  position: absolute; 
  top: -100px;
}

nav .icon-burger {
  display: none; 
  position: absolute;
  right: 4%; 
  top:  50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px; 
  height: 3px; 
  background-color: #000000; 
  margin: 5px;
  border-radius: 3px; 
  transition: all 0.5s ease-in-out; 

}

@media screen and (max-width: 860px){
  nav .projekt-titel {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .navbar-links {
    float: none; 
    position: fixed;
    z-index: 9; 
    background-color: black; 
    left: 0;
    top: 3rem;
    right: 0; 
    bottom: 100%;  
    width: auto;
    height: auto; 
    flex-direction: column;
    justify-content: space-evenly; 
    box-sizing: border; 
    overflow: hidden;
    transition: all .5s ease-in-out; 
    
  }


  nav .navbar-links a {
    font-size: 1.0em;
    color: #efefef;
  }

  nav .icon-burger {
    display: block;

  } 
}

nav :checked ~ .navbar-links {
  bottom: 0;
}

nav :checked ~.icon-burger .line:nth-child(1) {
  transition-duration: 0.2s ease-in-out; 
  transform: translateY(8px) rotate(45deg);

}

nav :checked ~.icon-burger .line:nth-child(3) {
  transition-duration: 0.2s ease-in-out;
  transform: translateY(-8px) rotate(-45deg);

}

nav :checked ~.icon-burger .line:nth-child(2) {
  transition-duration: 0.1s; 
  opacity: 0;
}

/* Überschrift / Landing page Text*/

section {
  max-width: 650px; 
  margin: 2rem 3rem;
  z-index: 3;  
    /* background-color: black; 
    opacity: 50%; */
  }

  .lh1 {
    font-size: 5rem;
    margin-top: 4rem;
    font-weight: bolder; 
    position: relative;
    margin-bottom: 2%;
    z-index: 3;
    line-height: 1;

    @media screen and (min-width: $bp-tablet) {
      font-size: 7rem;
      margin-top: 5rem;
    }
  }

  .lh2 {
    font-weight: 700; 
    font-size: 1.5rem; 
    line-height: 1.5rem; 
    margin-bottom: 0; 
    margin-top: 0; 
    z-index: 3;
    position: relative;
    color: $orange;
  }

  .lp {
    font-size: $small-font-size;
    z-index: 3;
    float: left; 
    padding-bottom: 1em; 
    position: relative;
  }


  /* Button + animation */

  .rowbutton {
    z-index: 3;
    position: relative;
    display: flex;
    float: left;
    margin-left: -1.5rem;
    max-width: 450px;
  }


  .button {
    display: inline-block;
    background: #efefef;   /* hell #efefef   dunkel 828282   mittel b5b5b5 */ 
    border-radius: 3rem;
    padding: 0.8rem 2.2rem;
    text-decoration: none;
    font-size: 1.0rem;
    margin-right: 2rem;
    z-index: 3;
    font-weight: 500; 
    transition: font-size 80ms ease-in;
    border: 2px solid black;

    &--primary {
      background: $black;
      color: $white;
    }
  }   

  .button:hover {
    background-color: #f25c05  ;    /* lila #635fe3   knallorange #f25c05  orangewenigerintense #E56717*/
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    color: black;
    opacity: 80%; 
  }


  @media (max-width: 900px){
    section {
      margin-top: 10%;
      margin-left: 2rem;
      max-width: 600px; 
      z-index: 3;  
    }

    .rowbutton {
      font-size: 0.9rem;
      margin-left: -0.6rem;
      flex-direction: column;
      overflow: hidden;
      padding-bottom: 300px;
      padding-top: 10px;  

    }

    .button {
      border-radius: 2.5rem;
      padding: 0.5rem 1.7rem;
      margin: 0 0.5rem;
      margin-bottom: 1em;  
    }
  }

  /* trüben Map */ 

  .layer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    background-color: #efefef;
    opacity: 50%; 
    z-index: 2; 
    position: fixed;
    display: flex; 
  }


// Footer mit Tweets
#footer {
  width: 100%;
  height: 2.5rem; 
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  border-top: 2px solid; 
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  background-color: #efefef;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 8;
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $duration;

    &__item {
      display: inline-block;

      &:after {
        content: '–';
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

#map { 
  position: fixed;
  top: 0;
  bottom: 0; 
  width: 100%; 
  z-index: 1;
  background-color: $map-gray;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content {
  padding-top: 4rem;
  margin: 20px;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// article

.column {
  margin: 0 auto;
  max-width: 660px;
  overflow: hidden;

  &--wide {
    max-width: 1100px;
  }
}

.image {
  width: 100%;
}

.content-container {
  font-size: $small-font-size;
  color: $grey;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &--portrait {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      float: right;
      text-align: right;
      width: 38%;
      margin-left: 2rem;
    }
  }

  &--triple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; // fix for safaris image stretching

    .content-element {
      width: 100%;

      @media screen and (min-width: $bp-tablet) {
        width: 31%;
      }
    }
  }

  &--double {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .content-element {
      height: 100%;
      width: 100%;

      &:first-child {
        margin-right: 2%;
      }

      @media screen and (min-width: $bp-tablet) {
        width: 49%;
      }
    }
  }
}

.image-caption {
  text-align: right;
  margin-top: .4rem;
  margin-left: auto;
  margin-right: 5px;
}

.go-to-vis-button {
  font-size: $small-font-size;
  margin-top: 4rem;
  margin-bottom: 6rem;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 30px;
  border: 1px solid $grey;

  &__text {
    width: 90%;
  }

  &__btn {
    margin-top: 1.25rem;
  }
}

.footer {
  margin-top: 5rem;
  color: $middle-grey;
  background-color: $almost-black;
  padding: 60px 20px 30px 20px;

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
    padding: 60px;
  }

  &__link {
    color: $middle-grey;
    text-decoration: underline;

    &:hover {
      color: $almost-white;
    }
  }
}

// Visualization
@media screen and (max-width: $bp-tablet) {
  .visualization {
    position: relative;
    height: 30rem;
    background-color: $almost-black;

    &:before {
      font-size: $small-font-size;
      color: $middle-grey;
      position: absolute;
      top: 40%;
      padding: 15px;
      content: 'Diese Visualisierung ist nur auf einem Desktop-Computer zu sehen.'
    }

    * {
      display: none !important;
    }
  }
}

.month {
  margin-right: 2rem;
}
.carfree-line {
  margin-right: 20px;
  stroke: $blue;
}

.calendar-intro {
  margin-bottom: 30px;
}

#calendar {
  margin-bottom: 50px;
}

.highlight {
  color: $blue;
}

.month-name,
.day-label {
  font-size: 80%;
  fill: #777;
}
.day {
  transition-property: stroke;
  transition-duration: 0.2s;
}

.day:hover {
  cursor: pointer;
  stroke: $blue;
  stroke-width: 2;
}

.day.selected {
  stroke: $blue;
  stroke-width: 4;
}


// tweets
#tweets {
  margin-top: 40px;
  max-width: 1200px;
  color: #fff;
}

.hashtag {
  color: $blue;
  transition-property: background-color;
  transition-duration: 0.2;

  &--link:hover {
    filter: blur(1px);
    background-color: rgba(67, 83, 255, 0.1);
  }
}

.grid-sizer,
.card { 
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    width: 32%; 
  }
}

.card {
  display: block;
  color: $black;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid $light-grey;
  padding: 10px;
}

.card--twitter {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  transition-property: background-color;
  transition-duration: 0.2s;

  &:hover {
    background-color: $almost-white;
  }
}

.card--heat {
  display: flex;
  flex-direction: column;

  h1, h3 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.card__date {
  margin-left: auto;
}

.tweet-user {
  font-size: 80%;
  margin-bottom: 8px;
  font-weight: bold;
}

.tweet-meta {
  color: $grey;
  margin-left: 5px;
  font-weight: normal;
}

.tweet-image {
  width: 100%;
  border-radius: 16px;
  border-width: 1px;
  border-color: rgb(196, 207, 214);
  margin-top: 10px;
}

// legend
.legend {
  margin-left: 50px;
}

.legend text {
  fill: $grey;
  font-size: 75%;
}

.legend path {
  stroke: #fff;
}

.tick line,
.tick path {
  stroke: $grey;
}

// loading spinner
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
  animation: load7 1.8s infinite ease-in-out; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
}
.loader {
  display: none;
  color: $grey;
  font-size: 4px;
  margin-top: 40px;
  margin-left: 40px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
