@font-face {
  font-family: 'FiraSansCondensed';
  src: url('assets/FiraSansCondensed-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('assets/FiraSansCondensed-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'FiraCode';
  src: url('assets/FiraCode-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('assets/FiraCode-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('assets/IBMPlexSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('assets/IBMPlexSans-Bold.ttf');
  font-weight: bold;
}

// global styles
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$bp-tablet: 720px;
$base-font-size: 18px;
$small-font-size: 15px;
// $font-family: 'Inconsolata', monospace;
$font-family: 'FiraCode', monospace;
$red: rgb(255, 35, 0);
$blue: rgb(27, 149, 224);
$grey: rgb(101, 119, 134);
$light-grey: rgb(204, 214, 221);
$almost-white: rgb(245, 248, 250);
$map-gray: $grey;
$slightest-grey: #F8F8F8;
$black: #000;
$white: #fff;
$yellow: #ff0;
$orange: #f25c05;

$duration: 240s;

body {
  background-color: $slightest-grey;
  font-size: $base-font-size;
  font-family: $font-family;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: 'FiraSansCondensed', sans-serif;
}

.header {
  margin-top: 2rem;
}

a {
  text-decoration: none; 
  color: black; 
}

// index
.bar {
  overflow: hidden;
}

// Footer mit Tweets
#footer {
  width: 100%;
  height: 2.5rem; 
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  border-top: 2px solid; 
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  background-color: #efefef;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 8;
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $duration;

    &__item {
      display: inline-block;

      &:after {
        content: '–';
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

#map { 
  position: fixed;
  top: 0;
  bottom: 0; 
  width: 100%; 
  z-index: 1;
  background-color: $map-gray;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.content {
  padding-top: 4rem;
  margin: 20px;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 2rem;
  }
}

// article

.column {
  margin: 0 auto;
  max-width: 620px;
  overflow: hidden;

  &--wide {
    max-width: 1000px;
  }
}

.image {
  width: 100%;
}

.content-container {
  font-size: $small-font-size;
  color: $grey;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &--portrait {
    float: right;
    text-align: right;
    width: 38%;
    margin-left: 2rem;
  }

  &--triple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .content-element {
      width: 100%;

      @media screen and (min-width: $bp-tablet) {
        width: 31%;
      }
    }
  }

  &--double {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .content-element {
      height: 100%;
      width: 100%;

      &:first-child {
        margin-right: 2%;
      }

      @media screen and (min-width: $bp-tablet) {
        width: 39%;
      }
    }
  }
}

.image-caption {
  margin-top: .4rem;
  margin-left: auto;
  margin-right: 5px;
}

.month {
  margin-right: 2rem;
}
.carfree-line {
  margin-right: 20px;
  stroke: $blue;
}

.calendar-intro {
  margin-bottom: 30px;
}

.highlight {
  color: $blue;
}

.month-name,
.day-label {
  font-size: 85%;
  fill: #777;
}
.day {
  transition-property: stroke;
  transition-duration: 0.2s;
}

.day:hover {
  cursor: pointer;
  stroke: $blue;
  stroke-width: 2;
}

.day.selected {
  stroke: $blue;
  stroke-width: 4;
}


// tweets
#tweets {
  margin-top: 40px;
  max-width: 1200px;
  color: #fff;
}

.hashtag {
  color: $blue;
  transition-property: background-color;
  transition-duration: 0.2;

  &--link:hover {
    filter: blur(1px);
    background-color: rgba(67, 83, 255, 0.1);
  }
}

.grid-sizer,
.card { 
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    width: 32%; 
  }
}

.card {
  display: block;
  color: $black;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid $light-grey;
  padding: 10px;
}

.card--twitter {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  transition-property: background-color;
  transition-duration: 0.2s;

  &:hover {
    background-color: $almost-white;
  }
}

.card--heat {
  display: flex;
  flex-direction: column;

  h1, h3 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.card__date {
  margin-left: auto;
}

.tweet-user {
  font-size: 80%;
  margin-bottom: 8px;
  font-weight: bold;
}

.tweet-meta {
  color: $grey;
  margin-left: 5px;
  font-weight: normal;
}

.tweet-image {
  width: 100%;
  border-radius: 16px;
  border-width: 1px;
  border-color: rgb(196, 207, 214);
  margin-top: 10px;
}

// legend
.legend {
  margin-left: 50px;
}

.legend text {
  fill: $grey;
  font-size: 85%;
}

.legend path {
  stroke: #fff;
}

.tick line,
.tick path {
  stroke: $grey;
}

// loading spinner
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
  animation: load7 1.8s infinite ease-in-out; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
}
.loader {
  display: none;
  color: $grey;
  font-size: 4px;
  margin-top: 40px;
  margin-left: 40px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
